:root{
    --header-bg:#000;
    --primary-color:#FFF;
    --secondary-color:#0A1045;
    --border-section:#000;
    --transparent-background:rgba(0, 0, 0, 0.2);
    --button-bg:#0A1045;
    --button-shadow:#0A1045;
    --button-bg-hover:#0A1045;
    --title-color:#000;
    --title-shadow:0;
    --title-sc-color: #000;
    --subtitle-color:#000;
    --box-bg:rgba(256, 256, 256, 0);
    --box-shadow:#FFF;
}