header{
    display:flex;
    background-color:#2B4F61;
    padding: 10px 20px;
    border-bottom: 10px solid #000;
    justify-content:space-between;   

}

nav{
    text-align:right;
    
}

nav>a{
    display:inline-flex;
    align-items: center;
    color:#FFF;
    font-size:20px;
    font-family:"Fira Code", cursive, Helvetica, sans-serif;
    font-weight:500;
    text-decoration:none;
    margin-right:30px;  
}

nav>a::before {
    content: "";
    width:10px;
    height:10px;
    background-color: #E4960E;
    margin-right:10px;
}

header>img{
    width:60px;
    height:60px;
}

div>img{
    width:100%;
    position:absolute;
}

.buttonHeader::before{
    content:none;
}

.buttonHeader{
    display:inline-block;
    background-color:#E4960E;
    padding:18px 20px;
    box-shadow:5px 5px 0 #000;
    margin-right:0;
}

.buttonHeader:hover{
    background-color:#71989B;
    cursor:pointer;
}

#links{
    position:absolute;
    display:flex;
    justify-content: space-evenly;
    width:627px;
    margin-top:398px;
    margin-left: 5%;

}

#links>a{
    color:#FFF;
    background-color:#E4960E;
    box-shadow: 5px 5px #000;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    font-family:"Fira Code", cursive, Helvetica, sans-serif;
    text-align:center;
    padding:17px 20px;
    width: 132px;
    height:26px;
}



