#box{
    width: 627px;
    height: 184px;
    margin:7% 0 0 5%;
    background-color: #3A4042;
    position:absolute;
    display:flex;
    flex-direction:column;
    align-items:center;
    box-shadow: 10px 10px #000;
}