.button-arrow{
    width:50px;
    height:50px;
    background-color: var(--transparent-background);
    position: absolute;
    box-shadow: 5px 5px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 20%;
}

.button-arrow .clear{
    display: none;
}

.button-arrow.-left{
    left: 0;
}

.button-arrow.-right{
    right:0;
}

.button-arrow.-left::before{
    content:"";
    width: 0; 
    height: 0; 
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent; 
    border-right:30px solid #FFF; 
}

.button-arrow.-right::before{
    content:"";
    width: 0; 
    height: 0; 
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent; 
    border-left:30px solid #FFF; 
}

@media screen and (max-width: 1240px){

    .button-arrow.-left, .button-arrow.-right{
        top:15%;
    }

}