.card-abt{
    display:flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    height:100%;
    justify-content: space-between;
}

.card-abt::before{
    content:"";
    background-image: url(../../assets/img/line-vertical.png);
    box-sizing: border-box;
    height: 41px;
    width:5px;
    transform: translateY(34px);
    position:absolute;
}

.card-abt .logo-abt{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    background-color: white;
    border:5px solid black;
    width:100%;
    height:140px;
}

.card-abt.-t1, .card-abt.-t3{
    width:170px;
}

.card-abt.-t2{
    width:140px;
}

.card-abt.-t4{
    width:170px;
}

.card-abt .title{
    text-align: center;
    text-shadow: none;
    font-size:25px;
    color:#F18805;
    font-family: 'Press Start 2P';
}



