.card-prj{
    width: 280px;
    height:280px;
    background-color:var(--transparent-background) ;
    box-shadow:5px 5px 10px#000;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
}

.card-prj .imgprj{
    width:245px;
}

.card-prj.-blue{
    background-color:#0A1045 ;
}

.card-prj .imgprj.-imgbd{
    box-sizing: border-box;
    
}