.card-prj{
    width: 280px;
    height:280px;
    background-color:#0A1045 ;
    box-shadow:10px 10px #FFF;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card-prj .imgprj{
    width:245px;
}

.card-prj.-blue{
    background-color:#0A1045 ;
}

.card-prj .imgprj.-imgbd{
    border: 5px solid #000;
    box-sizing: border-box;
}