.main-action{
    display:inline-flex;
    align-items: center;
    color:#FFF;
    font-size:20px;
    font-weight:500;
    text-decoration:none;
    margin-right:30px;  
}

.main-action::before {
    content: "";
    width:10px;
    height:10px;
    background-color: #E4960E;
    margin-right:10px;
}

.main-action.-atc:before{
    display:none;
}

.main-action.-atc{
    margin:50px 0 0 0;
    text-align: justify;
}