.main-header{
    display:flex;
    background-color:#0A1045 ;
    padding: 10px 20px;
    border-bottom: 10px solid #000;
    justify-content:space-between;   
    position:fixed;
    width:100%;
    z-index:2;
    top:0;
}

.main-header img{
    box-sizing: border-box;
    width:60px;
    height:60px;
    border:2px solid white;
}

