.main-subtitle{
    color: var(--subtitle-color);
    font-size:40px;
    font-family:"Fira Code", Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px 5px var(--title-shadow);
    margin-top:28px;
}
