.main-title{
    color:#E4960E;
    font-size:40px;
    font-family:"Press Start 2P", Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px #000;
    margin-bottom:60px;
}

.main-title.-second{
    text-align:center;
    text-shadow:none;
    color:#FFF;
}
