.main-header{
    display:flex;
    background-color:#2B4F61;
    padding: 10px 20px;
    border-bottom: 10px solid #000;
    justify-content:space-between;   
    position:fixed;
    width:100%;
    z-index:2;
    top:0;
}

.main-header img{
    width:60px;
    height:60px;
}

