.main-action{
    display:inline-flex;
    align-items: center;
    color:#FFF;
    font-size:20px;
    font-weight:500;
    text-decoration:none;
    margin-right:30px;  
}

.main-action::before {
    content: "";
    width:10px;
    height:10px;
    background-color: #0A1045;
    margin-right:10px;
}

.main-action.-atc{
    height:300px;
    align-items: flex-start;
}

.main-action.-atc::before, .main-action.-ctc::before{
    display:none;
}

.main-action.-atc, .main-action.-ctc{
    margin:50px 0 0 0;
    text-align: justify;
    font-size:30px;
    font-weight: 300;
    line-height: 36.92px;
}
.main-action.-ctc{
    margin-top:20px;
}

@media screen and (max-width: 1240px){

    .main-action.-atc{
        height:500px;
    }

}