.main-header{
    display:flex;
    background-color:#0A1045 ;
    padding: 10px 20px;
    border-bottom: 10px solid #000;
    justify-content:space-between;   
    position:fixed;
    width:100%;
    z-index:2;
    top:0;
}

.main-header img{
    box-sizing: border-box;
    width:60px;
    height:60px;
    border:2px solid white;
}

.main-header .language-select{
    font-family: inherit;
    width: 75px;
    height: 25px;
    border:0;
}

.main-header .lang-logo{
    width:auto;
    height:25px;  
    border:0;
    margin-left:10px;
}

.main-header .lang-box{
    position:absolute;
    left:100px;
    top:31.2px;
    box-sizing: border-box;
    display:flex;

}