.main-title{
    color:var(--title-color);
    font-size:65px;
    font-family:"Fira Code", Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px 5px var(--title-shadow);
    margin-bottom:60px;
    
}

.main-title.-second{
    font-size:30px;
    text-align:center;
    text-shadow:none;
    color:var(--title-sc-color);
}
