.section{
    background-color: #E4960E;
    border-bottom: 10px solid #2B4F61;
    padding:50px 0 116px;
}

.section .main-title{
    margin-bottom:60px;
}

.section.-projects{
    background-color: #000;
    border-bottom: 10px solid #E4960E;
}