.skill-tec {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #FFF;
    background-color: gray;
    padding:15px;
    box-shadow: 5px 5px black;
}

.skill-tec .logo {
    margin-right: 25px;
    width: 90px;
}

