h1{
    color:#E4960E;
    font-size:40px;
    font-family:"Press Start 2P", Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px #000;
}

h2{
    color: #fff;
    font-size:30px;
    font-family:"Press Start 2P", Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px #000;
}
