.wrapper-projects{
    position:relative;
    display:flex;
    max-width: 960px;
    justify-content: space-between;
    align-content:space-between;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.wrapper-projects a {
    margin-bottom:60px;
}

.wrapper-projects .project-name{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color:white;
    width:280px;
}